BasedOnStyle:                    LLVM
AlwaysBreakTemplateDeclarations: Yes
ColumnLimit:                     80
IncludeBlocks:                   Regroup
IncludeCategories:
  - Regex:    '^"kaleidoscope/'
    Priority: 1
  - Regex:    '^".*.h(pp)?'
    Priority: 2
  - Regex:    '^<(llvm|llvm-c|clang|clang-c)/'
    Priority: 3
  - Regex:    '^<.*\.h(pp)?>$'
    Priority: 4
  - Regex:    '^<.*>$'
    Priority: 5
QualifierAlignment:              Custom
QualifierOrder:
  - 'inline'
  - 'static'
  - 'constexpr'
  - 'const'
  - 'volatile'
  - 'type'
  - 'restrict'
